<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         failOnWarning="false"
         failOnRisky="false"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="Schema Test Suite">
            <directory suffix="Test.php">./tests/</directory>
            <exclude>./tests/fixtures/</exclude>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src/</directory>
        </include>
    </source>
</phpunit>
